body {
    margin: 0;
    padding: 0;
    color: #495fa0b1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: 75px 0;
}

.left {
    float: left;
    width: 25%;
    margin-right: 30px;
}

.displayProfile {
    margin-left: 70px;
    text-align: center;
}

.photo {
    width: 180px;
    border-radius: 50%;
}

.name {
    margin: 25px 0px;
    margin-bottom: 0;
    white-space: wrap;
    font-size: 1.8rem;
    font-weight: 800;
    text-align: center;
    line-height: 30px;
}

.role {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 10px;
    width: 100%;
}

.personal {
    margin-top: 40px;
}

.personal > .details {
    margin-top: 70px;
    padding-left: 60px;
    list-style: none;
    font-size: 12px;
    font-weight: 700;
}

li > hr {
    margin: 15px 0px;
}

.left .icon {
    margin-right: 10px;
    color: #495fa0b1;
}

.btn {
    margin: 55px 50px;
    font-size: 10px;
    font-weight: 600;
    padding : 13px 25px;
    background-color: #377cfe;
    color: white;
    border: none;
    border-radius: 7px;
    box-shadow: 1px 1px 5px #377cfe;
}

.right {
    padding-left: 40px;
    margin-right: 35px;
    display: inline-block;
    width: 65%;
}

.right .icon {
    margin-right: 3px;
}

table {
    width: 100%;
}

.heading {
    font-size: 28px;
    font-weight: 700;
    margin-top: 0;
}

.summary > .detail {
    line-height: 20px;
    color: #3c4e86bd;
    font-weight: 500;
    line-height: 23px;
    margin-right: 23px;
}

.summary > .heading {
    margin-bottom: 30px;
}

.experience {
    margin-top: 60px;
}

.experience p, .education p {
    margin: 0;
}

.experience .mode {
    background-color: #d7ffe0;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    float: right;
}

.bottomDetail .period {
    float: right;
}

.bottomDetail span {
    font-size: 13px;
}

.bottomDetail .company {
    display: inline-block;
    width: 100px;
}

.company {
    width : 100px;
}

.bottomDetail {
    padding-bottom: 30px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.176);
}

.bachelorDetail .bottomDetail:last-child {
    border: none;
}

.topDetail {
    padding-top: 30px;
}

.designation, .course {
    font-size: 22px;
    font-weight: 500;
}

.education {
    margin-top: 40px;
}

hr {
    margin: 25px 0px;
    background-color: rgba(184, 203, 210, 0.265); 
    height: 2px;
    border: none;
}

.heading , .name , .personal >.details{
    color: #495fa0;
}